<div
  class="relative max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700"
>
  <img
    class="w-full h-48 object-cover rounded-t-lg cursor-pointer"
    [src]="image"
    alt=""
    (click)="onImageClick()"
  />
  <div
    class="absolute top-0 left-0 bg-gray-900 text-white text-lg font-bold px-2 py-1 rounded-tr-lg rounded-bl-lg"
  >
    s/ {{ price }}
  </div>
  <div
    class="absolute top-14 left-0 bg-red-800 text-white text-lg font-bold px-2 py-1 rounded-tr-lg rounded-bl-lg"
  >
    c/u {{ stock }}
  </div>
  <div class="p-5">
    <h5
      class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white capitalize"
    >
      {{ name }}
    </h5>

    <p
      class="mb-3 font-normal text-gray-700 line-clamp-3 min-h-3-lines dark:text-gray-400 max-h-24 overflow-hidden text-justify text-ellipsis capitalize"
    >
      {{ description }}
    </p>
    <button
      class="bg-orange-500 hover:bg-orange-700 transition-colors duration-200 ease-in-out text-white rounded w-full flex items-center justify-center py-3 gap-3"
      (click)="addToCart($event)" 
      >
      <fa-icon [icon]="faPlus"></fa-icon> Añadir al carrito
    </button>
  </div>
</div>
