<div class="container-checkout" *ngIf="!paid">
  <div class="content-slogan">
    <h2>"Descubre el futuro de los pagos con Izipay: ¡Prueba y paga en modo TEST sin preocupaciones!"</h2>
    <div class="content-img">
      <img width="300" src="/assets/images/micuentaweb.png" alt="">
    </div>
  </div>
  <div class="content-form">
    <div class="payment-gateway">
      <div id="myPaymentForm">
        <div class="kr-embedded">
          <div class="kr-pan"></div>
          <div class="flex-container">
            <div class="kr-security-code"></div>
            <div class="kr-expiry"></div>
          </div>
          <button class="kr-payment-button"></button>
        </div>
      </div>
    </div>
  </div>

</div>

